<tr>
  <td>
    <%= link_to task.summary, task %>
  </td>

  <td>
    <%= link_to task.owner.name, task.owner %>
  </td>
  <td>
    <%# For now, have it just go to the user's page where you can
        see all their assigned tasks %>
    <% if task.assignee %>
        <%= link_to task.assignee.name, task.assignee %>
    <% else %>
        <em>Not assigned</em>
    <% end %>

    <%# TODO: Make this a popup that edits the assignee in place, depending on user and permissions%>
  </td>
</tr>